@import url("https://surl.li/zlpokq");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0px;
}

body {
  position: relative;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  position: relative;
  z-index: 3;
  padding: 24px 0;
  background: #e7eef7;
}

.header__burger {
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: block;
  width: 157px;
  height: 54px;
  background: url(../img/logo.svg);
}

.menu {
  min-width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

.menu__link {
  font-size: 19px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  line-height: 25px;
  color: #02033b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}

.menu__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__button {
  margin-left: 48px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0;
  color: #fff;
  background: #4335de;
  border-radius: 42px;
  padding: 20px 16px;
}

.main {
  background: #fff;
}

.article {
  position: relative;
  z-index: 2;
}

.circle {
  z-index: 1;
  position: absolute;
  width: 1770px;
  height: 1770px;
  background: #e7eef7;
  border-radius: 100%;
  margin: -106px 0 0 -855px;
}

.hero {
  position: relative;
  z-index: 3;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 46px;
  margin-right: -75px;
  z-index: 3;
}

.hero__title {
  max-width: 570px;
  font-size: 58px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 75px;
  letter-spacing: -1.2px;
  color: #02033b;
}

.hero__text {
  max-width: 570px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  color: #02033b;
}

.hero__button-bloc {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 48px;
}

.hero__button {
  font-size: 19px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0px;
  color: #02033b;
  border-radius: 42px;
  padding: 20px 16px;
}

.hero__image-bloc {
  max-width: 35%;
}

.hero__blue-bloc {
  position: relative;
  background: #4335de;
  min-width: 740px;
  min-height: 740px;
  top: 69px;
  right: -72px;
}

.hero__orange-bloc {
  position: relative;
  background: url(../img/ornge.svg);
  background-size: cover;
  background-position: center;
  min-width: 720px;
  min-height: 720px;
  top: 25px;
  right: -21px;
}

.hero__mobile-bloc {
  position: relative;
  top: 30px;
  left: 30px;
}

.hero__image {
  width: 240px;
  height: 460px;
}

.orange-button {
  background: #ffc247;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.transparent-button {
  border: 1px solid #02033b;
}

.response {
  position: relative;
  z-index: 5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7c95f), to(#fdb235));
  background: linear-gradient(180deg, #f7c95f, #fdb235);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 72px;
  padding: 84px 0;
}

.response__title {
  max-width: 550px;
  font-size: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -0.72px;
  color: #02033b;
}

.response__bloc {
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.response__box {
  width: 400px;
  min-height: 300px;
  background: #fff;
  border-radius: 48px;
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
}

.response__star {
  width: 24px;
  height: 24px;
}

.response__text {
  max-width: 330px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #02033b;
}

.response__signature {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0px;
  color: #02033b;
}

.response__art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 74px;
}

.response__art-text {
  font-size: 23px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -0.48px;
  color: #02033b;
}

.response__art-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

.response__art-li {
  width: 130px;
  max-height: 90px;
}

.response__art-img {
  width: 100%;
}

.security {
  position: relative;
  z-index: 3;
}

.security__blocs {
  padding: 84px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.security__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 43px;
  padding: 2px 36px 0 60px;
}

.security__title {
  max-width: 445px;
  font-size: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -0.72px;
  color: #02033b;
}

.security__text {
  max-width: 448px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  color: #02033b;
}

.security__button-bloc {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.security__bloc--orange {
  margin: 0;
}

.security__bloc-orange {
  width: 482px;
  height: 482px;
  margin: 7px 39px 0 0;
  background: #ffc247;
}

.security__bloc-image {
  width: 468px;
  height: 468px;
  margin: 7px 21px 7px -7px;
}

.spyware {
  background: #e7eef7;
  padding: 84px 0 84px;
}

.spyware__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 72px;
}

.spyware__title {
  max-width: 700px;
  text-align: center;
  font-size: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -0.72px;
  color: #02033b;
}

.spyware__blocs {
  max-width: 840px;
  height: 872px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px;
  border-radius: 48px;
  background: #ffffff;
}

.spyware__bloc {
  width: 200px;
  height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.spyware__image {
  width: 77px;
  height: 72px;
}

.spyware__subtitle {
  font-size: 19px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: -0.4px;
  color: #02033b;
}

.spyware__text {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #02033b;
}

.spyware__button-bloc {
  margin-top: 0;
}

.help__blocs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help__bloc-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 72px;
  padding: 84px 0;
}

.help__box-left {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7c95f), to(#fdb235));
  background: linear-gradient(180deg, #f7c95f, #fdb235);
  border-radius: 48px;
  width: 460px;
  height: 296px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 47px 48px;
  gap: 24px;
}

.help__box-title {
  font-size: 23px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -0.48px;
  color: #02033b;
}

.help__box-text {
  max-width: 360px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #02033b;
}

.help__box-button {
  padding: 20px;
  margin-top: 24px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #02033b;
  border-radius: 42px;
  color: #fff;
  background: #4335de;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.help__transparent-button {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0px;
  color: #02033b;
}

.help__box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.help__bloc-bottom {
  padding: 84px 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2925cc), to(#4b48e5));
  background: linear-gradient(180deg, #2925cc, #4b48e5);
}

.help__bloc-bottom-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.help__bloc-bottom-title {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0px;
  color: #ffffff;
}

.help__bloc-bottom-text {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 10px;
}

.hero__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transparent-white-button {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  color: #fff;
  padding: 16px 26px;
}

.last {
  background: #e7eef7;
  padding: 84px 0;
}

.last__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 72px;
}

.last__title {
  font-size: 56px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: -1.2px;
  color: #02033b;
  text-align: center;
}

.last__blocs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 48px;
}

.last__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 320px;
  height: 530px;
  gap: 25px;
  background: #fff;
}

.bloc__image {
  border-radius: 48px 48px 0 0;
  width: 100%;
  height: 180px;
}

.bloc__image-one {
  background: url(../img/last-1.svg);
}

.bloc__image-two {
  background: url(../img/last-2.svg);
}

.bloc__image-three {
  background: url(../img/last-3.svg);
}

.bloc__button {
  margin: 24px 0 0 24px;
  border-radius: 48px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #02033b;
  padding: 12px 20px;
  background: #fff;
}

.bloc__title {
  padding: 0 10px;
  margin-top: 22px;
  font-size: 23px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  color: #02033b;
  margin-right: 48px;
}

.bloc__text {
  padding: 0 10px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #02033b;
  margin-right: 48px;
}

.footer {
  background: #02033b;
  padding: 96px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 190px;
}

.footer__blocs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 60px;
}

.footer__bloc-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
}

.footer__subtitle {
  font-size: 23px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0px;
  color: #fff;
}

.footer__soc-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.footer__image {
  width: 36px;
  height: 36px;
  color: #fff;
}

.footer__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.footer__more-link {
  text-decoration: underline;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  color: #fff;
}

.footer__desc-mw {
  max-width: 325px;
}

.footer__desc-mt {
  margin-top: -30px;
}

.footer__bloc-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 60px;
}

.footer__title {
  width: 188px;
  padding-bottom: 25px;
  border-bottom: 1px solid #fff;
  font-size: 35px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0px;
  color: #fff;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.footer__menu-link {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: -0.4px;
  color: #ffc247;
}

.footer__menu-link::before {
  content: "-";
  margin-right: 24px;
  font-size: 20px;
}

.footer__sing-bloc {
  width: 436px;
  height: 232px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 194, 71, 0.9)), to(rgba(255, 194, 71, 0.9))), url("../img/c.svg") no-repeat center;
  background: linear-gradient(rgba(255, 194, 71, 0.9), rgba(255, 194, 71, 0.9)), url("../img/c.svg") no-repeat center;
  border-radius: 24px;
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
}

.footer__sing-title {
  font-size: 23px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -0.48px;
  color: #000;
}

.footer__sing-text {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #000;
  margin-top: -5px;
}

.footer__sing-form {
  max-width: 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__sing-mail {
  padding: 8px 16px;
  color: #000;
  border-radius: 40px 0 0 40px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0px;
  color: #000;
}

.footer__sing-button {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0px;
  color: #fff;
  padding: 8px 27px;
  background: #02033b;
  border-radius: 0 40px 40px 0;
}

.footer__row {
  max-width: 550px;
}

.footer__desc {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  color: #fff;
}

@media (max-width: 1450.98px) {
  .container {
    max-width: 1200px;
    padding: 0 20px;
  }

  .circle {
    width: 1337px;
    height: 1337px;
    margin: -80px 0 0 -646px;
  }

  .hero__blue-bloc {
    min-width: 640px;
    min-height: 640px;
  }

  .hero__orange-bloc {
    min-width: 620px;
    min-height: 620px;
  }

  .response__box {
    gap: 20px;
    padding: 20px;
    border-radius: 36px;
  }

  .response__art-li {
    width: 115px;
  }

  .security__bloc-orange {
    width: 482px;
    height: 482px;
  }

  .security__bloc-image {
    width: 468px;
    height: 468px;
    margin: 7px 21px 7px -7px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 970px;
  }

  .circle {
    width: 915px;
    height: 915px;
    margin: -55px 0 0 -442px;
  }

  .hero__title {
    max-width: 450px;
    font-size: 48px;
    line-height: 65px;
  }

  .hero__text {
    max-width: 450px;
    line-height: 24px;
  }

  .hero__button-bloc {
    gap: 10px;
  }

  .hero__button {
    font-size: 16px;
    line-height: 18px;
  }

  .hero__blue-bloc {
    min-width: 540px;
    min-height: 540px;
  }

  .hero__orange-bloc {
    min-width: 520px;
    min-height: 520px;
  }

  .hero__image {
    width: 200px;
    height: auto;
  }

  .response__bloc {
    gap: 16px;
    padding: 0 10px;
  }

  .response__box {
    padding: 12px;
    width: 330px;
  }

  .response__text {
    font-size: 14px;
    line-height: 18px;
  }

  .response__art {
    gap: 30px;
  }

  .response__art-li {
    width: 100px;
  }

  .security__bloc {
    padding: 0 10px;
    gap: 33px;
  }

  .security__title {
    max-width: 260px;
    font-size: 20px;
    line-height: 24px;
  }

  .security__text {
    max-width: 410px;
    line-height: 24px;
  }

  .security__bloc-orange {
    width: 370px;
    height: 370px;
    margin: 5px 30px 0 0;
  }

  .security__bloc-image {
    width: 360px;
    height: 360px;
    margin: 5px 16px 5px -5px;
  }

  .spyware__blocs {
    gap: 40px;
    max-width: 840px;
    height: auto;
  }
}

@media screen and (max-width: 992.98px) {
  .menu {
    position: fixed;
    background: #e7eef7;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    min-width: 0;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    z-index: 9;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
    gap: 40px;
  }

  .menu.active .menu__img {
    display: none;
  }

  .menu.active .menu__button {
    margin-left: 0;
    padding: 20px 56px;
    color: #fff;
  }

  .menu__link {
    color: #000;
    font-size: 40px;
    line-height: 40px;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 100;
    cursor: pointer;
    margin-right: 10px;
  }

  .burger.active-burger:before {
    background: #000;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: #000;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #000;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
  }

  .header__menu {
    position: fixed;
    background: #000;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .header__menu.active {
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    z-index: 9;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
    gap: 20px;
  }

  .header__burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 100;
    cursor: pointer;
  }

  .header__burger.active-burger:before {
    background: #000;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
    top: 6px;
  }

  .header__burger.active-burger:after {
    background: #000;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
  }

  .header__burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: #000;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    top: 8px;
    right: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: #000;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s all;
  }
}

@media (max-width: 768.98px) {
  .container {
    max-width: 740px;
  }

  .circle {
    width: 708px;
    height: 708px;
    margin: -42px 0 0 -342px;
  }

  .hero {
    padding: 20px 0;
  }

  .hero__text-bloc {
    padding: 0 10px;
    gap: 24px;
  }

  .hero__text-bloc {
    padding: 0 10px;
    gap: 25px;
  }

  .hero__title {
    max-width: 370px;
    font-size: 42px;
    line-height: 55px;
  }

  .hero__text {
    max-width: 370px;
    font-size: 18px;
  }

  .hero__button-bloc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .hero__button {
    padding: 14px 10px;
  }

  .response__bloc {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }

  .response__art-text {
    font-size: 20px;
    line-height: 26px;
  }

  .response__art-ul {
    gap: 15px;
  }

  .response__art-li {
    width: 80px;
  }

  .security__blocs {
    padding: 42px 0;
  }

  .security__bloc {
    gap: 27px;
  }

  .security__title {
    gap: 27px;
  }

  .security__text {
    max-width: 410px;
    font-size: 16px;
    line-height: 20px;
  }

  .security__bloc-orange {
    width: 300px;
    height: 300px;
    margin: 0;
  }

  .security__bloc-image {
    width: 290px;
    height: 290px;
    margin: 4px 13px 4px -4px;
  }

  .spyware__blocs {
    padding: 20px;
    gap: 30px;
  }

  .spyware__bloc {
    gap: 10px;
    height: auto;
  }

  .spyware__bloc {
    gap: 10px;
  }

  .spyware__image {
    width: 65px;
    height: auto;
  }

  .spyware__subtitle {
    font-size: 16px;
    line-height: 21px;
  }

  .spyware__text {
    font-size: 16px;
    line-height: 20px;
  }

  .help__bloc-top {
    gap: 30px;
  }

  .last__container {
    gap: 30px;
  }

  .last__blocs {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .last__bloc {
    max-height: 450px;
    padding-bottom: 20px;
    border-radius: 48px 48px 0 0;
  }

  .bloc__image {
    border-radius: 32px 32px 0 0;
    width: 100%;
    height: 180px;
  }

  .bloc__button {
    margin: 18px 0 0 18px;
    border-radius: 48px;
    font-size: 14px;
    line-height: 16px;
  }

  .bloc__title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    margin-right: 0;
  }

  .bloc__text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    margin-right: 0;
  }

  .footer__container {
    gap: 20px;
  }

  .footer__blocs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__bloc-second {
    gap: 30px;
  }

  .footer__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__menu-link::before {
    content: none;
  }

  .footer__sing-bloc {
    gap: 25px;
  }
}

@media (max-width: 576.98px) {
  .container {
    max-width: 560px;
    padding: 0 5px;
  }

  .circle {
    width: 531px;
    height: 531px;
    margin: -32px 0 0 -247px;
  }

  .hero__title {
    max-width: 335px;
    font-size: 38px;
    line-height: 45px;
    font-weight: 600;
  }

  .hero__text {
    max-width: 300px;
    font-size: 16px;
    line-height: 20px;
  }

  .hero__button {
    font-weight: 600;
  }

  .hero__blue-bloc {
    top: 45px;
    right: 0px;
    min-width: 340px;
    min-height: 340px;
  }

  .hero__orange-bloc {
    top: 15px;
    right: -15px;
    min-width: 320px;
    min-height: 320px;
  }

  .hero__mobile-bloc {
    top: 0px;
    left: 0px;
  }

  .hero__image {
    width: 150px;
  }

  .response {
    gap: 36px;
    padding: 42px 0;
  }

  .response__title {
    max-width: 360px;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
  }

  .response__box {
    width: 260px;
    min-height: 300px;
    padding: 20px;
  }

  .response__star {
    width: 16px;
    height: 16px;
  }

  .response__art {
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .response__art-text {
    font-size: 16px;
    line-height: 20px;
  }

  .response__art-ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px 50px;
  }

  .response__art-li {
    width: 60px;
  }

  .security__blocs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .security__bloc {
    gap: 18px;
  }

  .security__title {
    gap: 18px;
  }

  .security__bloc-orange {
    width: 210px;
    height: 210px;
  }

  .security__bloc-image {
    width: 200px;
    height: 200px;
    margin: 3px 9px 3px -3px;
  }

  .spyware__blocs {
    max-width: 500px;
  }

  .spyware__image {
    width: 50px;
  }

  .spyware__subtitle {
    font-size: px;
    line-height: px;
  }

  .help__bloc-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .last__bloc {
    max-height: 400px;
    padding-bottom: 20px;
    border-radius: 48px 48px 0 0;
  }

  .bloc__image {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 180px;
  }

  .bloc__button {
    margin: 10px 0 0 10px;
    border-radius: 48px;
    font-size: 12px;
    line-height: 14px;
  }

  .bloc__title {
    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
    margin-right: 0;
  }

  .bloc__text {
    font-size: 12px;
    line-height: 14px;
    margin-top: 0;
    margin-right: 0;
  }

  .footer {
    gap: 20px;
    padding: 40px;
  }

  .footer__container {
    gap: 15px;
  }

  .footer__blocs {
    gap: 10px;
  }

  .footer__bloc-first {
    gap: 15px;
  }

  .footer__desc-mw {
    max-width: none;
  }

  .footer__desc-mt {
    margin-top: 30px;
  }

  .footer__bloc-second {
    gap: 10px;
  }

  .footer__title {
    padding-bottom: 10px;
  }

  .footer__sing-bloc {
    gap: 15px;
  }
}

@media (max-width: 320.98px) {
  .container {
    max-width: 310px;
  }

  .circle {
    width: 295px;
    height: 295px;
    margin: -18px 0 0 -143px;
  }
}